<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<header th:insert="section/header::header"></header>
<div class="block">
    <h2 class="class-declaration-page">Додаток для створення,перегляду і редагування новин</h2>
    <button class="btn"><a th:href="'/news'" class="card-link">Повернутися до стрічки новин</a></button>
</div>

<footer th:insert="section/footer::footer"></footer>
</body>
</html>